<launch>
    <arg name="bag" default="/home/lajoiepy/Documents/datasets/Poly4eCorridorsRealsense/16Feb2022/Train1_fixed.bag"/>
    <arg name="out_bag" default="/home/lajoiepy/Documents/datasets/Poly4eCorridorsRealsense/16Feb2022/Train1_decompressed.bag"/>
    
    <node pkg="image_transport" type="republish" name="decompress_color" 
        args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw"/>
    <node pkg="image_transport" type="republish" name="decompress_depth" 
        args="compressedDepth in:=/camera/aligned_depth_to_color/image_raw raw out:=/camera/aligned_depth_to_color/image_raw"/>
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="-a -O $(arg out_bag)" />
    <node pkg="rosbag" type="play" name="rosbag_play" launch-prefix="bash -c 'sleep 5.0; $0 $@' "
        args="$(arg bag)" />
</launch>